<header>
    <div class="logo">
        <a href="/" style="color: white; text-decoration: none; font-size: 24px; font-weight: bold;">E-Commerce</a>
    </div>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/realtimeproducts">Productos en Tiempo Real</a></li>
        </ul>
    </nav>
</header>
